
.color {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

#grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 40px);
  gap: 5px;
}

.square {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #000;
}
